@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <p>Developing software in the industry since 2000. I have experience in a many languages including:</p>
    <ul>
        <li>C#</li>
        <li>Java</li>
        <li>Delphi</li>
        <li>C++</li>
        <li>Progress</li>
        <li>Clarion</li>
        <li>Objective-C</li>
    </ul>
    <p>Databases Servers:</p>
    <ul>
        <li>Microsoft SQL Server</li>
        <li>Oracle</li>
        <li>Sybase</li>
        <li>PostgresSQL</li>
        <li>Progress</li>
        <li>MySQL</li>
    </ul>
    <p>and technologies:</p>
    <ul>
        <li>.NET</li>
        <li>ASP.NET</li>
        <li>ASP.NET MVC</li>
        <li>HTML5</li>
        <li>JavaScript</li>
        <li>Knockout.js</li>
        <li>CSS</li>
        <li>REST</li>
        <li>WCF</li>
        <li>Azure Cloud</li>
        <li>Xamarin</li>
        <li>Android</li>
        <li>iOS/li>
        <li>Microsoft Cognitive + AI Service (Experimental)</li>
        <li>Q# with Microsoft Quantum Computing SDK (Experimental)</li>
    </ul>
</div>

