@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    11 Palmyra Close<br />
    Sunnydale, WC 7975<br />
    <abbr title="Phone">P:</abbr>(+27) 21 785 1927
    <abbr title="Cell">C:</abbr>(+27) 84 055 0666
</address>

<address>
    <strong>Support:</strong> <a href="mailto:chris.levendall@gmail.com">chris.levendall@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:chris,levendall@live.co.za">chris.levendall@live.co.za</a>
</address>
