@{
    ViewData["Title"] = "Basket";
}
<div class="row">
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script src="/scripts/knockout-3.4.2.debug.js"></script>
<script src="scripts/Order.js"></script>
