body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.edit-indicator
{
    font-weight: bold;
    color: red;
    text-align: left;
}
.wrapper {
    position: relative;
}

.products {
    width: 75%;
    padding: 10px;
}

.shopping-cart {
    position: sticky -webkit-sticky;
    top: 50px;
    width: 25%;
    height: 100px;
    float: right;
    border-style: solid;
    border-width: 1px;
}

.shopping-cart-table {
    width: 100%;
    font-weight: bold;
}

.items
.price {
    text-align: right;
    width: 100px;
    padding: 10px;
}

.checout-button {
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
}

.product-row {
    border: solid;
    border-width: 1px;
}

.product-image {
}

.product-info {
    padding: 10px;
}
